*.class


*.classpath


.classpath

*.project


*.prefs

/.settings/

.settings
build/

.metadata/


.metadata
Servers/

/target/


.target/


.recommenders

.recommenders/

/build/

/RemoteSystemsTempFiles/
