body {
	background-image: url("../resources/img/background.jpg");
	padding: 0;
	margin: 0;
}

h1{
color:#0000FF;
font-family: 'Proza Libre', sans-serif;
font-size:50px;
line-height: 50px;
font-weight:bold;
margin-bottom:0px;
margin-top:2%;
text-align: center;
text-shadow: 0,1px,1px #fff;
	
}


#logo{
	left: 5px;
/* 	top:5px; */
	z-index:-1;
	position: absolute;
	
}

#logoInicial{
	left: 5px;
	top:10px;
	z-index:-1;
	position: absolute;
	
}

.ui-growl {   
  
    width: 560px;


   
}

.ui-growl-message {
    padding: 0 0 5px 0;
    width: 400px;
    float: right;
}

.ui-growl {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 500px;
}

#login {
	display:block;
	margin-left:auto;
	margin-right:auto;
	background-color: yellow;
	position: absolute;
	justify-content:center;
/* 	top: 30%; */
/* 	left: 50%; */
/* 	margin-left: -175px" */
}

/* tr td:first-child, */
/* tr td:last-child { */
/*    font-weight: bold; */
/* } */



#content {
/* 	background-color: #8080c0; */
	display: block;
	min-height: 82vh;
/* 	min-height: -webkit-calc(100vh - 180px); */
/* 	min-height: -moz-calc(100vh - 180px); */
/* 	min-height: calc(100vh - 180px); */
/* 	position: relative; */
	width: 100%;
}
.footer {
	display: block;
	min-height: 2vh;
	width: 100%;
	margin: auto;
	text-align: center;

}

#header {
	width: 100%;
	display: block;
	min-height: 2vh;
/* 	margin-top: -20px; */
	position: relative;
/* 	background-color: green; */
	}